* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(clock.jpg) no-repeat center center/cover;
}

.clock {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1), 0px 10px 20px rgba(0,0,0,0.7);
    height: 24vh;
    border-radius: 15px;
    padding: 20px;
}

.clock h1 {
    color: #480202;
    font-size: 3.5rem;
    font-weight: 600;
}

.clock span {
    color: #480202;
    font-size: 20px;
    position: relative;
    top: -6%;
    margin-left: 7px;
    font-weight: 700;
}